<header id="main-header">
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		<div class="container">
			<a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
			<div id="navbarNav">
				<ul class="navbar-nav">
					{% for p in site.pages %}
						{% if p.in_menu and p.title %}
						<li class="nav-item">
							<a class="nav-link{% if page.url == p.url %} active{% endif %}" href="{{ p.url | prepend: site.baseurl }}">
								{% if p.fa %}<i class="fa {{ p.fa }}"></i>{% endif %}
								{{ p.title }}
							</a>
						</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</nav>
</header>