<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }} :: {% endif %}{{ site.title }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    {% feed_meta %}
    
    {% if site.fb-id %}<meta property="fb:app_id" content="{{ site.fb-id }}" />{% endif %}
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="{% if page.social-title %}{{ page.social-title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:description" content="{% if page.social-description %}{{ page.social-description }}{% elsif page.description %}{{ page.description }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | truncatewords: 100 }}{% else %}{{ site.description }}{% endif %}" />
    {% if page.image-url %}<meta property="og:image" content="{{ page.image-url }}" />{% endif %}
    <meta property="og:type" content="article" />
    <meta property="article:author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}" />
    {% if page.category %}<meta property="article:section" content="{{ page.category }}" />{% endif %}
    {% if page.date %}<meta property="article:published_time" content="{{ page.date }}"{% endif %}
    {% if page.modified-date %}<meta property="article:article:modified_time" content="{{ page.modified-date }}"{% endif %}
    {% for tag in page.tags %}<meta property="article:tag" content="{{ tag }}" />{% endfor %}
    <meta name="twitter:card" content="summary" />
    {% if site.social.twitter %}<meta name="twitter:creator" content="@{{ site.social.twitter }}" />{% endif %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/88de3d2324.css">
    <link rel="stylesheet" href="{{ "/styles/main.css" | prepend: site.baseurl }}">
</head>