$font-header: serif;

$font-size-small: smaller;
$font-size-header: larger;

$color-general-text: #292b2c;
$color-header-text: navy;
$color-secondary-text: grey;
$color-link-text: #0275d8;
$color-link-hover: #014c8c;
$color-link-active: #0275d8;
$color-link-visited: #0275d8;

$spacing-unit: 1rem;