footer {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.post-list {
    padding-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    margin-bottom: $spacing-unit;
}

/* goodreads widget */
.gr_grid_container {
    text-align: center;

    .gr_grid_book_container {
        display: inline-block;
        width: 98px;
        height: 160px;
        padding: 0px 0px;
        overflow: hidden;
    }
}