---
layout: default
---
<div class="post">
    <section class="post-meta">
        {{ page.date | date: "%b %-d, %Y" }}
        {% if page.author %}
        • {{ page.author }}
        {% elsif site.author %}
        • {{ site.author }}
        {% endif %}
        {% if page.tags %}• <i class="fa fa-tags" title="Tags"></i> {% for tag in page.tags %}<a href="#">{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}
    </section>
    <article class="post-content">
        {{ content }}
    </article>
</div>
